{% load tyndale_tags wagtailcore_tags %}
{% get_site_root as site_root %}

 <div class="sidemenu" data-ix="sleft-load-300">

     {% if has_children %}
        <h3 class="sidemenu-heading">{{ current_page.title }}</h3>
        {% for child in children %}
            {% if forloop.last %}
                <a class="submenu-subheading last-subheading" href="{% pageurl child %}">{{ child.title }}</a>
            {% else %}
                <a class="submenu-subheading" href="{% pageurl child %}">{{ child.title }}</a>
            {% endif %}

        {% endfor %}
     {% else %}
         <h3 class="sidemenu-heading">{{ ancestor.title }}</h3>
         {% if ancestor_children_has_children %}
             {% for child in ancestor_children %}
                 {% if forloop.last %}
                    <a class="submenu-subheading last-subheading" href="{% pageurl child %}">{{ child.title }}</a>
                 {% else %}
                     <a class="submenu-subheading" href="{% pageurl child %}">{{ child.title }}</a>
                 {% endif %}
             {% endfor %}
         {% endif %}
     {% endif %}
 </div>

<!-- TODO add more margin in last link in sidemenu -->
